<div class="gtco-loader"></div>
	
	<div id="page">

	
	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation" style="background-color:black">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a style="font-size: 25px;" href="/">ㅍㅌㅋㄷ <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<% if user_signed_in? %>
						<%= current_user.email%>
						<%= link_to "/users/sign_out" do %>
									<span class="btn-cta">Logout</span></a>
						<% end %>
						<a href="home/mypost/<%=current_user.id%>" class="btn-cta">My post</a>
					
					<% else %>
						    <%=link_to "/users/sign_in" do %>
							    	<span class="btn-cta">Login</span></a>
					    	<% end %>
					    	
					    	<%=link_to "/users/sign_up" do %>
							    	<span class="btn-cta">SignUp</span></a>
						    <% end %>
					<% end %>
				</div>
			</div>
			
		</div>
	</nav>
	
	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span style="padding-left: 2.3%;" class="intro-text-small">포토카드교환을위한 <a href="#" target="_blank">platform</a></span>
							<h1 class="cursive-font">ㅍㅌㅋㄷ</h1>
							<div class="row form-group">
													<div class="col-md-12">
														<% if user_signed_in? %>
														<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
														  Create Card
														</button>
														<%end%>
													</div>
												</div>
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3 class="cursive-font">Search PhotoCard</h3>
											<%= form_for @search, url: {action: "search"} do |f| %>

                                              <div class="field">
                                                <%= f.label :singer_id %><br />
                                                <%= f.collection_select :singer, Singer.order(:singer_name), :id, :singer_name, include_blank: true %>
                                              </div>
                                              <div class="field">
                                                <%= f.label :album_id, "album" %><br />
                                                <%= f.grouped_collection_select :album, Singer.order(:singer_name), :albums, :singer_name, :id, :album_name, include_blank: true %>   
                                                </div>
                                                <div class="field">
                                                <%= f.label :had_card, "had card" %><br />
                                                <%= f.grouped_collection_select :had_card, Singer.order(:singer_name), :member, :singer_name, :id, :member_name, include_blank: true %>   
                                                </div> 
                                                <div class="field">
                                                <%= f.label :want_card, "want card" %><br />
                                                <%= f.grouped_collection_select :want_card, Singer.order(:singer_name), :member, :singer_name, :id, :member_name, include_blank: true %>   
                                                </div> 
                                                <div class="field">
                                                <%= f.label :change_type %><br />
                                                <%= f.collection_select :change_type, Changetype.order(:change), :id, :change, include_blank: true %>
                                                </div>
                                                <div class="field">
                                                <%= f.label :area, "area" %><br />
                                                <%= f.grouped_collection_select :area, Changetype.order(:change), :areas, :change, :id, :area, include_blank: true %>   
                                                </div>
                                            
                                              <div style = "margin-top: 20px;"><%= f.submit "Search", class: "btn btn-primary"%></div>
                                            <% end %>
												
											</form>	
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
							
					
				</div>
			</div>
		</div>
	</header>

		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div style="width: 350px;" class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Create Card</h5>
		        <button style="margin-top: -15px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		         <!--<form action="/home/create" method="post" enctype="multipart/form-data">-->
			       <%= form_for @post, url: {action: "create"}, :html => {:multipart => true} do |f| %>
			       											<%= f.hidden_field :user_id, value: current_user.id %>
               <div class="field">
                <%= f.label :singer_id %><br />
                <%= f.collection_select :singer, Singer.order(:singer_name), :id, :singer_name, include_blank: true %>
              </div>
              <div class="field">
                <%= f.label :album_id, "album" %><br />
                <%= f.grouped_collection_select :album, Singer.order(:singer_name), :albums, :singer_name, :id, :album_name, include_blank: true %>   
                </div>
                <div class="field">
                <%= f.label :had_card, "had card" %><br />
                <%= f.grouped_collection_select :had_card, Singer.order(:singer_name), :member, :singer_name, :id, :member_name, include_blank: true %>   
                </div> 
                <div class="field">
                <%= f.label :want_card, "want card" %><br />
                <%= f.grouped_collection_select :want_card, Singer.order(:singer_name), :member, :singer_name, :id, :member_name, include_blank: true %>   
                </div> 
                <div class="field">
                <%= f.label :change_type %><br />
                <%= f.collection_select :change_type, Changetype.order(:change), :id, :change, include_blank: true %>
                </div>
                <div class="field">
                <%= f.label :area, "area" %><br />
                <%= f.grouped_collection_select :area, Changetype.order(:change), :areas, :change, :id, :area, include_blank: true %>   
                </div>
                <div class="field">
                <%= f.label :kakaoId %><br />
                <%= f.text_field :kakaoId %>
                </div>
                <input type = 'file' name = 'image' accept='image/*' >
            
              
			        <p>
			        </p>
				    <div class="modal-footer">
				        <div><%= f.submit "Create", class: "btn btn-primary"%></div>
                <% end %>
			       </div>
			    <!--</form>-->
		      </div>
		    </div>
		  </div>
		</div>

	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="cursive-font"> 현재 포토카드 랭킹</h2>
					<p><table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">순위</th>
      <th scope="col">이름</th>
    </tr>
  </thead>
  <tbody>
  	<% if @ranking != nil
  		@ranking.each_with_index do |rank,index| %>
	  	<tr>
	      <th scope="row"><%=(index+1)%></th>
	      <td><%=rank.singer_member%></td>
	    </tr>
	    <%end%>
  	<% else
  		for index in 0..4 %>
   		<tr>
	      <th scope="row"><%=(index+1)%></th>
	      <td>없음</td>
	    </tr>
	<%end
	end %>
  </tbody>
</table>


</p>
				</div>
			
			</div>
		
						</span>
						<h3></h3>
						
					</div>
				

			</div>
		</div>
	</div>
											

	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="cursive-font">현재 등록된 포토카드 목록</h2>
					<section class="clubs py-3">
		              <div class="cards row">
		                <% @postrandom.each do |post|%>
		                    <div class='col-sm-12 col-md-6 col-lg-4'>
		                      <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: auto;">
		                        <%= image_tag post.image, class: "card-img-top"%>
		                          <h5 style="margin-top: 20px;" class="card-title"><%=post.had_card%> 있음</h5>
		                    	  	<h5 class="card-title"><%=post.want_card%> 구함</h5>
		                        </div> <br/> <br/>
		                    </div>
		                <%end%>
		                  
		              </div>
		                <button type="button" class="btn btn-light"><a href="/home/readall">더보기</a></button>
		          	</section>
		         </div>
			</div>
		</div>
	</div>
	
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="cursive-font">ㅍㅌㅋㄷ 사용매뉴얼</h2>
					<p>ㅍㅌㄱㄷ를 사용하시는 분들은 아래 매뉴얼 및 주의사항을 잘 읽고 이용해주세요 :) </p>
				</div>
			
			</div>
		
						</span>
						<h3>STEP1: 회원가입</h3>
						<p>회원가입을 할때에는 실명과 이메일, 그리고 6자 이상의 비밀번호를 입력해 주세요.</p>
						<h3>STEP2: 본인이 원하는 포토카드를 검색해주세요</h3>
						<p>검색해 나오는 분의 포토카드와 교환하려는 포토카드가 일치하면 카톡아이디를 통해 연락해 주세요.</p>
						<h3>STEP3: 본인이 원하는 포토카드가 없다면 새롭게 등록해주세요</h3>
						<p>가수, 앨범, 가지고 있는 포토카드, 필요한 포토카드, 카톡 아이디를 정확하게 입력해서 다른 분들이 당신의 포토카드를 찾을 수 있게 해주세요.</p>
						<h3>주의사항 !</h3>
						<p>카톡을 통해 서로 교환이 이루어진 포토카드의 경우 마이페이지에서 교환완료 버튼을 눌러 다른 분들이 헷갈리지 않게 해주세요.</p>
					</div>
				

			</div>
		</div>
	</div>

	<div id="gtco-counter" class="gtco-section">
		<div class="gtco-container">

			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="cursive-font primary-color">ㅍㅌㅋㄷ는 현재,</h2>
				</div>
			</div>

			<div class="row">
				
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="<%=@singernum%>" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">그룹</span>

					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="<%=@albumnum%>" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">앨범</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="<%=@postnum%>" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">포토카드</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="<%=@usernum%>" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">사용자</span>

					</div>
				</div>
					
			</div>
		</div>
	</div>

	



	<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row row-pb-md">

				

				
				<div class="col-md-12 text-center">
					<div class="gtco-widget">
						<h3>만든이들</h3>
						<ul class="gtco-quick-contact">
							<li>선민승</li>
							<li>백지수</li>
							<li>이혜민</li>
							<li>주동석</li>
						</ul>

				</div>

				<div class="col-md-12 text-center copyright">
					<p><small class="block">&copy; 2018. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
				</div>

			</div>

			

		</div>
	</footer>
	<!-- </div> -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop">
		    <img style="padding-top: 30%; width: 20px; height: auto;" src = "https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png"></img>
		</a>
	</div>
<style>
	.card-img-top{
		width: 180px;
		height: auto;
	}
</style>