<!--update-->
<style>
    @font-face { 
        font-family: 'Godo'; 
        font-style: normal; 
        font-weight: 400; 
        src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') 
        format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') 
        format('woff'); 
    } 
    
    @font-face{ 
        font-family: 'Godo'; 
        font-style: normal; 
        font-weight: 700; 
        src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') 
        format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') 
        format('woff');
    }
    body {
        margin: 0px;
    	background-color: #333;
        font-family: "Godo";ss
        min-height: 1000px;
    }
    a{
        text-decoration: none;
    }
    #columns {
    	column-width: 320px;
    	column-gap: 15px;
        width: 90%;
    	max-width: 1100px;
    	margin: 50px auto;
    }
    
    div#columns figure {
    	background: #fefefe;
    	box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
    	margin: 0 2px 15px;
    	padding-bottom: 10px;
    	transition: opacity .4s ease-in-out;
        display: inline-block;
        margin-bottom: 30px;
        column-break-inside: avoid;
    }
    
    div#columns figure img {
    	width: 318.66px; 
    	height: auto;
    	border-bottom: 1px solid #ccc;
    	padding-bottom: 15px;
    	margin-bottom: 5px;
    }
    
    div#columns figure figcaption {
        font-size: 13px;
    	color: #444;
        line-height: 1.5;
        padding: 5px;
    }
    
    div#columns small { 
        font-size: 1rem;
        float: right; 
        text-transform: uppercase;
        color: #aaa;
    } 
    
    div#columns small a { 
        color: #666; 
        text-decoration: none; 
        transition: .4s color;
    }
    
    
    
    @media screen and (max-width: 750px) { 
        #columns { column-gap: 0px; }
        #columns figure { width: 100%; }
    }
</style>

<div style="text-align: center; color: white; margin-top: 10px;">
    <p>
        당신이 가진 <%=@find_name%>카드는 총 <%=@wantpeoplenum%>명이 원하고 있습니다.
    </p>
    <p>
        당신이 필요한 <%=@want_name%>카드는 총 <%=@needpeoplenum%>명이 가지고 있습니다.
    </p>
</div>


<div id="columns">
    <a style = "position: absolute; right: 4%; color: white; font-size: 20px; top: 10%;" href="/">나가기</a>
    <% @matched_post.each do |post|%>
    <figure>
        <%=image_tag post.image %>
        <!--<img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">-->
	    <figcaption>
	        <p style="font-size: 20px; margin: 0px;">갖고있는 카드: <%=post.had_card%></p><br>
	        <p style="font-size: 20px; margin: 0px;">교환 원하는 카드: <%=post.want_card%></p><br>
	        <p style="font-size: 20px; margin: 0px;">카카오톡 아이디: <%=post.kakaoId%></p><br>
	    </figcaption>
	</figure>
	<%end%>
	
</div>
